{% extends "base.html" %}

{% block content %}
	
	<div class="container">
		<header class="jumbotron">
			<p><a href="http://www.opensciencedatacloud.org/"><strong>&larr; Back to OSDC main</strong></a></p>
		  	<h1>Contact Us</h1>
		  	<p class="lead">Let us know what you like about Matsu, and what this project can do better.</p>
		</header>
	</div>

	<div class="container">
		<form id="contact" action="/contact/" method="post">{% csrf_token %}
			<fieldset>
				<div class="control-group {% if form.name.errors %}error{% endif %}">
				  <label class="control-label" for="id_name">Name:</label>
				  <div class="controls">
					{{ form.name }}
					<span class="help-inline">{{ form.name.errors }}</span>
				  </div>
				</div>
				
				<div class="control-group {% if form.organization.errors %}error{% endif %}">
				  <label class="control-label" for="id_organization">Organization/University:</label>
				  <div class="controls">
					{{ form.organization }}
					<span class="help-inline">{{ form.organization.errors }}</span>
				  </div>
				</div>
	
				<div class="control-group {% if form.sender.errors %}error{% endif %}">
				  <label class="control-label" for="id_sender">Email:</label>
				  <div class="controls">
					{{ form.sender }}
					<span class="help-inline">{{ form.sender.errors }}</span>
				  </div>
				</div>

				<div class="control-group {% if form.message.errors %}error{% endif %}">
				  <label class="control-label" for="id_message">Message:</label>
				  <div class="controls">
					{{ form.message }}
					<span class="help-inline">{{ form.message.errors }}</span>
				  </div>
				</div>

			</fieldset>
			<input type="reset" value="Clear All" /> &nbsp;<input type="submit" value="Send Feedback" />
		</form>
	</div><!-- end .container -->

{% endblock %}

