{% extends "base.html" %}

{% block content %}

	<div class="container">
		<header class="jumbotron">
			<p><a href="http://www.opensciencedatacloud.org/"><strong>&larr; Back to OSDC main</strong></a></p>
		  	<h1>OCC Project Matsu</h1>
		  	<p class="lead">An open source project for cloud-based processing of
		  	satellite imagery to support the earth sciences.</p>
		</header>
	</div>

	<div class="container">
 
	<div class="row">
		<div class="span4">
			<h3 class="sub-topic">Project Matsu</h3>
			<p>
			Project Matsu is a collaboration between NASA and the Open Cloud
			Consortium to develop open source technology for cloud-based
			processing of satellite imagery to support the earth sciences.
			Technology developed by the collaboration include:
			<ul>
			<li>The Namibia Flood Dashboard.</li>
			<li>MapReduced based analytics for identifying floods and CO<sub>2</sub> concentrations.</li>
			<li>Using elastic infrastructure-as-a-service to create Level
			1 images each day.</li>
			<li>A Hadoop-based OGC-compliant tiling service and Web MapService.</li>
			</ul>
			</p>
			<p>You can learn more from these <a href="/matsu-demos/">five minute videos</a> introducing some Matsu tools.</p>
		</div><!-- end .span4 -->

		<div class="span4">
			<h3 class="sub-topic">Matsu Resources</h3> 
			<ul>
			<li>Daily Namibia <a
			href="http://matsu.opencloudconsortium.org/namibiaflood">Flood
			Dashboard</a></li>
			<!-- <li>Hadoop-supported Web Map Service (<a href="http://lvoc-matsu.opensciencedatacloud.org/SimpleWMS/">WMS</a>) -->
			<li>Hadoop-supported Web Map Service Areas of Interest:</li>
			<ul>
			<li><a href=" http://lvoc-matsu.opensciencedatacloud.org/SimpleWMS/?lat=63.65&lng=-19.3261&z=10&points=clusters&rgb=false&co2=true">Carbon Monoxide cluster centers from volcanic eruption</a></li>
			<li><a href=" http://lvoc-matsu.opensciencedatacloud.org/SimpleWMS/?lat=22.53&lng=28.4&z=12&rgb=true&flood=true">Irrigation Patterns in the Sahara</a></li>
			<li><a href="http://lvoc-matsu.opensciencedatacloud.org/SimpleWMS/?rgb=false&TOPO_raw=true&lat=-7.2&lng=20.0&z=10">Elevation</a></li>
			<li><a href="http://lvoc-matsu.opensciencedatacloud.org/SimpleWMS/?lat=-17.5&lng=15.8&z=10&rgb=true&co2=false&flood=true&points=none">Water Classifier Namibia</a></li>
			<li><a href="http://lvoc-matsu.opensciencedatacloud.org/SimpleWMS/?lat=43.66&lng=10.44&z=10&rgb=true&co2=false&flood=true&points=none">Water Classifier Italian coast</a></li>
			</ul>
			<li><a href="http://lvoc-matsu.opensciencedatacloud.org/AvailableImages/available.jsp">Available Matsu images</a></li>
			</ul>
		</div>

		<div class="span4">
			<h3 class="sub-topic">Matsu Support</h3> 
			<ul>
			<li>The code can be found at the <a href="https://github.com/opencloudconsortium/matsu-project">OCC Github site</a>. </li>
			<li>Description of Matsu <a href="{{MEDIA_URL}}/pdf/matsu-workflow-v4.pdf">Tile and WMS Services</a>.</li>
			<li>Share your feedback or ask a question using the <a href="/contact/">contact form</a>.</li>
			<!--
			<li>Sample <a
			href="http://lvoc-matsu.opensciencedatacloud.org/SimpleWMS/?lat=63.5427&lng=-19.3261">CO<sub>2</sub>
			Detection</a> Query (click "CO<sub>2</sub>")  </li>
			<li>Sample <a
			href="http://lvoc-matsu.opensciencedatacloud.org/SimpleWMS/?lat=-17.4&lng=15.8&z=9">Flood
			Detection</a> Query (click "cloud, land, water")</li> 
			-->
			</ul>
		</div>
	</div><!-- end .row -->

	</div><!-- end .container -->

{% endblock %}
