{% extends "base.html" %}

{% block content %}

<div class="container">
	<header class="jumbotron subhead">
		<p><a href="http://www.opensciencedatacloud.org/"><strong>&larr; Back to OSDC main</strong></a></p>
		<h2>Project Matsu Demonstrations</h2>
	</header>
</div>

<div class="container">
	<div class="row">
		<div class="span4">
			<h3 class="sub-topic">Matsu WMS Service</h3>
			<p>
				<iframe src="http://player.vimeo.com/video/50101340" width="250" height="166" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
				<p><a href="http://vimeo.com/50101340">Matsu: Web Map Service (WMS)</a> from <a href="http://vimeo.com/user13701951">Open Cloud Consortium</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
			</p>
		</div>

		<div class="span4">
			<h3 class="sub-topic">Detecting CO2</h3> 
			<p>
				<iframe src="http://player.vimeo.com/video/50098755" width="250" height="186" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
				<p><a href="http://vimeo.com/50098755">Matsu - Detecting CO2 from Hyperspectral Data From NASA's EO-1 Satellite</a> from <a href="http://vimeo.com/user13701951">Open Cloud Consortium</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
			</p>
		</div>
	</div><!-- end .row -->

	<div class="row">
		<div class="span4">
			<h3 class="sub-topic">Available EO-1 Images</h3> 
			<p>
				<iframe src="http://player.vimeo.com/video/50096781" width="250" height="166" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
				<p><a href="http://vimeo.com/50096781">Matsu - Images Available From NASA's EO-1 Satellite</a> from <a href="http://vimeo.com/user13701951">Open Cloud Consortium</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
			</p>
		</div>

		<div class="span4">
			<h3 class="sub-topic">Downloading EO-1 Images (MAC)</h3> 
			<p>
				<object width="250" height="166"><param name="movie" value="http://www.youtube.com/v/j5qq4p-UxhY?hl=en_US&amp;version=3&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/j5qq4p-UxhY?hl=en_US&amp;version=3&amp;rel=0" type="application/x-shockwave-flash" width="250" height="166" allowscriptaccess="always" allowfullscreen="true"></embed></object>
			</p>
			<p>
				<a href="http://www.youtube.com/watch?feature=player_embedded&v=j5qq4p-UxhY">Matsu - Downloading Images using WMS (MAC)</a> from <a href="http://www.youtube.com/user/OpenCloudConsortium">Open Cloud Consortium</a> on <a href="http://youtube.com">YouTube</a>.
			</p>
		</div>
	</div><!-- end .row -->

	<div class="row">
		<div class="span4">
			<h3 class="sub-topic">Downloading EO-1 Images (PC)</h3> 
			<p>
			<object width="250" height="166"><param name="movie" value="http://www.youtube.com/v/LYOgudVW3Ww?version=3&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/LYOgudVW3Ww?version=3&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="250" height="166" allowscriptaccess="always" allowfullscreen="true"></embed><p/><a href="http://www.youtube.com/watch?v=LYOgudVW3Ww">Matsu - Downloading Images using WMS (PC)</a> from <a href="http://www.youtube.com/user/OpenCloudConsortium">Open Cloud Consortium</a> on <a href="http://youtube.com">YouTube</a>.</object>
			</p>
		</div>
	</div><!-- end .row -->
</div><!-- end .container -->

{% endblock %}
