{% extends "base.html" %}

{% block content %}
	
	<div class="container">
		<header class="jumbotron thankyou">
			<p><a href="http://www.opensciencedatacloud.org/"><strong>&larr; Back to OSDC main</strong></a></p>
		  	<h1>Thank You</h1>
		  	<p class="lead">Your message has been received. <br />If you asked a question, someone from the Matsu team will contact you within two business days.</p>
		  	<p class="back"><a href="index.html">Back to Matsu home.</a></p>
		</header>
	</div>

{% endblock %}