{% extends "base.html" %}

{% block content %}

	<div class="container">
		<header class="jumbotron">
			<p><a href="http://www.opensciencedatacloud.org/"><strong>&larr; Back to OSDC main</strong></a></p>
		  	<h1>Web Applications</h1>
		  	<p class="lead">An introductory sentence about what these web applications do, their purpose, etc.</p>
		</header>
	</div>

	<div class="container">
 
	  	<div class="row">
			<div class="span4">
				<h3 class="sub-topic"><a href="http://matsu.opencloudconsortium.org/namibiaflood">Namibia Flood Dashboard</a></h3>
				<p>The Namibian Flood Dashboard is a NASA SensorWeb enabled tool developed for flood and waterborne disease risk management in Namibia
                          	and the surrounding Southern Africa region. The dashboard provides daily water level information from space-based and ground sensor data, useful
                          	for local decision makers and disaster relief management.
                       		</p>
				<p>The Namibian Flood-Disease Early Warning Project is a collaborative effort of the Open Cloud Consortium and the Open Science Data Cloud, 
                          	the Namibian Ministry of Agriculture Water and Forestry (MAWF) Department of Water Affairs, NASA and the Committee on Earth Observing Satellites (CEOS) 
                          	Working Group on Information Systems and Services (WGISS), and the United Nations Platform for Space-based Information for Disaster Management 
                          	and Emergency Response (UN-SPIDER).
                       		</p>
				<p><a href="http://matsu.opencloudconsortium.org/namibiaflood">View the Namibia Flood Dashboard.</a></p>
			</div><!-- end .span4 -->

			<div class="span4">
				<h3 class="sub-topic"><a href="http://matsu.opencloudconsortium.org/wcps/processes.html">Web Coverage Processing Service</a></h3> 
				<p>Explanatory text about WCPS.</p>
				<p>Explanatory text about the WCPS.</p>
				<p>Explanatory text about the WCPS.</p>
				<p>Explanatory text about the WCPS.</p>
				<p>Explanatory text about the WCPS, with <a href="http://matsu.opencloudconsortium.org/wcps/session/login/">additional link</a>.</p>
				<!--
				<p><a href="http://matsu.opencloudconsortium.org/wcps/processes.html">View the WCPS.</a></p> 
				-->
			</div>
		
		</div><!-- end .row -->

	</div><!-- end .container -->

{% endblock %}
